<p>login Page!</p>
<!-- String Binding -->
<h1>Name: {{name}}</h1>
<h3>Email: {{email}}</h3>


<!-- string binding Vs property binding  -->
<img [src]="imgUrl" [class.imgStyle]='imgUrl' />
<br />
<button disabled="{{isDisabled}}"> String Interpolation </button>
<button [disabled]='isDisabled'>Property Binding</button>


<!-- Angular Directive -->
<!-- Structural  Directive @ngIf, @ngFor, @ngSwitch-->

<h2 *ngIf="isLogged">Structural Directive If</h2>

<!-- new way -->
@if (isLogged) {
<h2>If New Way..</h2>
} @else {
<h2>else if new way..</h2>
}

<!-- else condition -->

<h2 *ngIf="!isLogged">else If structural directive</h2>
@if (!isLogged) {
<h2>else if new way..</h2>
}

<!-- ng template -->
<h2 *ngIf="isLogged; else message">Structural Directive If</h2>

<ng-template #message>
    <h2>
        [Loaded Ng template...]
    </h2>
</ng-template>

<!-- Multilple condition -->
 <!-- <h3 *ngIf="isAdmin; else member">Welcome Admin</h3>

 <ng-template #member >
     <h3 *ngIf="isMember else guest">Welcome Member</h3>
 </ng-template>

 <ng-template #guest>
     <h3 *ngIf="isGuest">Welcome Guest</h3>
 </ng-template> -->

 @if(isAdmin){
    <h3>Admin...</h3>

 } @else if (isMember) {
    <h3>Member...</h3>

 } @else if (isGuest) {
    <h3>Guest..</h3>
 }

 <!-- ng for -->
  <h1>Ng for</h1>

  <ul>
      <li *ngFor="let item of users">{{item}}</li>
  </ul>

 @for(item of users; track item){
    <h3>{{item}}</h3>
 }


 <!-- fetch object Array -->
  <h1>Object fetch</h1>
  <ul>
    <li *ngFor="let user of userObj; let i = index; let userCount = count;"> Count: {{userCount}}, Index:{{i}} - {{user.name}} <button (click)="onDelete(user)">Delete</button></li>
  </ul>

  <ul>
    @for(user of userObj; track user; let i = $index; let userCount = $count; let first = $first; let last = $last; let even = $even; let odd = $odd ){
        <li>first: {{first}}, last:{{last}}, even:{{even}}, odd:{{odd}}, Count: {{userCount}}, {{i}} - {{user.email}} <button (click)="deleteFor(i)">Delete</button></li>
    }
    @empty {
      <p>There is no data...</p>
    }
  </ul>

  <button (click)="addUser()">Add user</button> <br/>


<h1>--Switch---</h1>
<div [ngSwitch]="userRole">
    <p *ngSwitchCase = "'Admin'">Welcome Admin</p>
    <p *ngSwitchCase="'Member'">Welcome Member</p>
    <p *ngSwitchCase="'Editor'">Welcome Editor</p>
    <p *ngSwitchDefault="">Please Login</p>   <!-- if userRole is empty -->
</div>

<!-- new approch -->
 @switch (userRole) {
    @case ('Admin') {
       <p>Welcome Admin</p>
    }
     @case ('Member') {
       <p>Welcome Member</p>
    }
     @case ('Editor') {
       <p>Welcome Editor</p>
    }
    @default {
        <p>Please Login</p>
    }
 }

<h1 [ngStyle]="{
    color: 'red',
    textTransform: userRole == 'Admin' ? 'upperCase': 'lowerCase'
 }">
 Ng Style Directive
</h1>

<h2 [ngClass]="{
    'login' : isLogged
    }">
    ngClass Directive
</h2>

<!-- parent to child -->
<h1>Prent to Child View: {{loginFruitName}}</h1>

<app-card>
   <h1>Multi port - ng-Content</h1>
  <span header>username</span> <!--check in inspect code element section-->
  <h1 body>John Doe</h1>
  <button footer>Footer</button>
</app-card>