<h1>Angular</h1>
<app-login [loginFruitName]="fruitName"></app-login>

<h1>────────── ⋆⋅☆ Class Binding ☆⋅⋆ ──────────</h1>
<button
  [class.active]="isActive"
  [class.inActive]="!isActive"
  [class.active-border]="isActive"
  [class.inActive-border]="!isActive"
>
  Click Me - CB
</button>

<button [class.btnHeight]="fruitName == 'Apple' ">
  {{fruitName}} - Class Binding
</button>

<button
  [style.background]=" isActive ? 'green' : 'gold' "
  [style.border]=" isActive ? '2px solid red' : '5px dotted black' "
>
  Style Binding
</button>

<h1>────────── ⋆⋅☆ Event Binding ☆⋅⋆ ──────────</h1>
<button (click)="eventButtonClick()">Event Binding</button>

<input type="text" placeholder="Enter Name" (keyup)="keyUpFunc($event)"/>

<input type="text" placeholder="Click Enter then Call function" (keyup.enter)="keyUpFilter($event)"/>  <!-- When click enter button then only call function -->

<input type="text" placeholder="Enter a then Call function" (keyup.a)="keyUpAFilter($event)"/>  <!-- When click enter a then only call function -->

<!-- template Variable #user -->

<input type="text" (keyup.enter)="tempVariable(user)" placeholder="Template Variable" #user id="userInputId"/>

<!-- 2 way data binding -->
 <!-- <input placeholder="2 way data binding" type="text" #username [value]= "userName" (keyup.enter)="twoWayDataBind(username)" /> -->

 <input [(ngModel)]="userName"/> <h3>{{userName}}</h3> 


<!-- If Directive with number values -->
 <button (click)="countLoginItem()">If Directive with number values</button>
 <h4 *ngIf="loginCount > 4">Button Clicked more than 4 times</h4>


 <!-- If Directive with String values -->
  <h2 *ngIf="userRole == 'Admin' else isMember">Welcome Admin</h2>

  <ng-template #isMember>
    <h2>Welcome Member</h2>
  </ng-template>

  <!-- ng-templateModule -->

  <ng-template #joinNow>
    😎
    <button>Join Now</button>
    😎😄
  </ng-template>

  <div>
    <h4 [ngTemplateOutlet]="joinNow">Movie</h4>
    <h4 [ngTemplateOutlet]="joinNow">Dance</h4>
    <h4 [ngTemplateOutlet]="joinNow">Gym</h4>
</div>

<app-posts-list (MessageEvent)="receiveMessage($event)"></app-posts-list>
<p>{{messageFromChild}}</p>

<p>{{message}}</p>

<app-card>
  <h2>ng-content</h2>
  <p>11 june 2025</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
</app-card>

<h1>────────── ⋆⋅☆ LifeCycle ☆⋅⋆ ──────────-</h1>

<!-- <div>
  <p *ngComponentOutlet="Loading()">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic natus itaque omnis possimus est veniam, ullam delectus! Impedit, assumenda exercitationem!</p>
</div> -->

<button (click)="loadComponent()">Create Component</button>
<button (click)="removeComponent()">Remove Component</button>

<!-- NgOnchanes -->
 <!-- <app-profile [pUserName]="userName"></app-profile>
 <button (click)="changeUser()">Change User</button> -->

 <!-- ngAfterContentInit -->
  <app-profile>
   <h1>{{userName}}</h1> 
    <p>Content Projected From Parent</p>
  </app-profile>


<h1>────────── ⋆⋅☆ Pipe ☆⋅⋆ ──────────</h1>

<!-- uppercase -->
<h3>{{uppercasePipe | uppercase}}</h3>
<h3>{{lowercasePipe | lowercase}}</h3>
<h3>{{lowercasePipe | titlecase}}</h3>
<h3>{{123476.89 | number}}</h3>
<h3>{{0.7 | percent}}</h3>
<h3>{{1000 | currency : 'EUR' : 'code'}}</h3>
<h3>{{1000 | currency : 'GBP'}}</h3>
<h3>{{ today | date : 'short'}}</h3>
<h3>{{ today | date : 'medium'}}</h3>
<h3>{{ today | date : 'long'}}</h3>
<h3>{{ today | date : 'full'}}</h3>

<!-- custom date format -->

<h3>{{ today | date : 'dd-mm-yyyy'}}</h3>
<h3>{{ today | date : 'MMMM-dd-yyyy'}}</h3>
<h3>{{ today | date : 'hh:mm:ss a z'}}</h3> <!-- a means me am and pm-->
